body {
  font-family: Verdana;
  text-align: center;
}

div {
  overflow-x: auto;
}

th, td {
  border-bottom: 1px solid black;
}

td.lastrow {
  border-bottom: 0px solid black;
}

table {
  border: 2px solid black;
  margin: 0 auto;
}

.subcategory {
  color: purple;
}

.title {
  font-weight: bold;
  font-size: 20px;
	text-transform: uppercase;
}
